.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $tertiaryOpacity;
    border: solid 2px  $primary;
    position: fixed;
}

.headerLogoTitle{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.logo{
    display: flex;
    justify-content: center;
}

.imgLogoGp {
    width: 16rem;
    padding-top: 15px;
    padding-bottom: 15px;
}