// .leftNav-container{
//     height: 0px;
//     width: 35px;
// }

.navBar{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav-button{
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: $tertiary;
    font-family: unset;
    padding: 15px;
    margin: 10px;
    border-radius: 20px 0 20px 0;
    border: dotted 4px $tertiary;
    background-color: $secondary;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
}

// #ImOutBtn{

// }

.nav-button:hover{
    color: $primary;
    cursor: pointer;
}

#ImOutBtn{
    width: 3rem;
    height: 3rem;
}