.navbarTop{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 15px 0;
    border-left: dotted 2px $secondary;
    border-bottom: dotted 2px $secondary;
    border-right: dotted 2px $secondary;
    background-color: $tertiaryOpacity;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}

.nav-button:hover{
    background-color: $secondaryOpacity;
    cursor: pointer;
}
