.navbarTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include mobile {
    flex-direction: column;
    height: 17rem;
  }
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 15px 0;
  border: dotted 2px $secondary;
  background-color: $tertiaryOpacity;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  @include tablet {
    width: 5rem;
    height: 5rem;
  }
}

.nav-button:hover {
  background-color: $secondaryOpacity;
  cursor: pointer;
  border: dotted 2px $tertiary;
  transform: scale(1.1);
}
