@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin fdr-fwnw-aic {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

@mixin col-nw-aic-jcc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

@mixin dlr-fwr-sis {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

@mixin aic-fdrr-fwnw {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

@mixin fdr-jcsa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@mixin aic-fdr {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@mixin fdc-aic-fwnw {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

@mixin fdc-aic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin fdr-fwnw-aifs-jcsa {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

@mixin fwnw-fdrr {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}

@mixin fdc-aic-jcse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@mixin fdr-jcse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@mixin fdr-jcc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin fdr-fwnw {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

// Mixins border-radius
@mixin border-radius-9 {
  border-radius: 9px 0 9px 0;
}

@mixin border-radius-10 {
  border-radius: 10px 0 10px 0;
}

@mixin border-radius-15 {
  border-radius: 15px 0 15px 0;
}

@mixin border-radius-20 {
  border-radius: 20px 0 20px 0;
}

@mixin border-radius-30 {
  border-radius: 30px 0 30px 0;
}
