$primary: #fd2d01;
$primaryOpacity: #fd2d01a8;
$secondary: #ffd7d7;
$secondaryOpacity: #ffd7d7e6;
$tertiary: #4e5166;
$tertiaryOpacity: #4e5166e3;
$whiteOpacity: #ffffffa1;
$textAreaColor: #f5f5f5f5;
$successColor: #1a9167de;
