.actuality {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.thread {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  background-color: $tertiaryOpacity;
  color: $textAreaColor;
  text-align: center;
  width: 18rem;
  padding: 3px;
  font-size: 30px;
  border-radius:  20px 0 20px 0;
  border-bottom: dotted 2px $primaryOpacity;
  border-right: dotted 2px $primaryOpacity;
  border-left: dotted  2px $primaryOpacity;
  margin-bottom: 10px;
}

.messagesArea {
  display: flex;
  background-color: #ffd7d7c7;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  width: 50rem;
  align-content: flex-start;
  box-shadow: 1px 6px 25px 7px $tertiary;
  border: dotted 2px $tertiary;
  border-radius: 20px 0 20px 0;
  overflow-y: scroll;
  padding: 5px;
  padding-top: 0px;
}
