.cardPosted{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $textAreaColor;
    border-radius: 15px 0 15px 0;
    margin: 5px;
    padding: 15px;
    width: 30rem;
    height: 11rem;
    border: solid 2px $primaryOpacity;
    margin-top: 1rem;
}

.talks{
    color: blueviolet;    
}

.postedPseudo{
    display: flex;
    font-size: 15px;
    color: black;
    font-weight: bold;
    border: dotted 1px $secondary;
}

.postedDate{
    display: flex;
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.postedMessage{
    display: flex;
    height: auto;
    font-size: 20px;
}

.postedTime{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: black;
}

.bigCard{
    display: flex;
    justify-content: space-around;
    background-color: $tertiaryOpacity;
    border-radius: 0 20px 0 0;
}

.dateTime{
    display: flex;
    flex-wrap: nowrap;
    border: dotted 1px $secondary;
}

.date{
    display: flex;
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.time{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.postedImage{
    display: flex;
    width: 13rem;
    height: 11rem;
    background-color: white;
    border-radius: 30px 0 30px 0;
    border: solid 2px $primaryOpacity;
    margin: 5px;
    margin-top: 1rem;
    padding: 10px;
    background-color: $secondaryOpacity;
    border-radius: 20px 0 20px 0;
}

.imgPosted{
    display: flex;
}

#actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
    background-color: $tertiaryOpacity;
    border-radius: 0 0 0px 20px;
}

#actionsModifyDeletePosted{
    display: flex;
}

#eraserPost, #stampPosted , #binPost{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

#eraserPost:hover, #stampPosted:hover, #binPost:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#modifyDeleteBtn{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 40rem;
}

.writeModification{
    height: 4rem;
    width: 55rem;
    background-color:$whiteOpacity;
    border-radius: 20px 0 20px 0;
    margin: 10px;
    padding: 10px;
    border: dotted 2px $secondaryOpacity;
}