.page-posts {
  display: flex;
}

.postsCards {
  text-align: center;
  @include border-radius-15;
  box-sizing: border-box;
  background-color: $tertiaryOpacity;
  height: 100%;
  padding-top: 10px;
  width: 95%;
  box-shadow: 1px 6px 25px 7px $secondary;
  border: dotted 2px $secondary;
  @include fdc-aic-fwnw;

  @include tablet {
    height: 17rem;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }

  @include mobile {
    width: 100%;
    height: 14rem;
    padding-top: 3px;
    margin-bottom: 1rem;
    box-shadow: none;
    display: flex;
    flex-direction: column;
  }
}

.Icon-Title {
  width: 25%;
  @include aic-fdr;
  @include tablet {
    width: 25%;
    flex-direction: column;
  }
  @include mobile {
    width: 60%;
    margin-left: 0;
    flex-direction: row;
  }
}

.postTitle {
  font-size: 23px;
  color: $secondary;
  width: 12rem;
  @include mobile {
    font-size: 20px;
  }
}

.post-Message {
  font-size: 18px;
  color: $secondary;
}

.cardTitle {
  width: 23.5rem;
  height: 2rem;
  @include border-radius-10;
  margin: 10px;
}

.cardMessage {
  width: 23.5rem;
  height: 5rem;
  @include border-radius-10;
  padding: 6px;
  background-color: $textAreaColor;
  @include tablet {
    width: 40%;
    height: 11rem;
    padding: 8px;
  }
  @include mobile {
    width: 16rem;
    height: 5rem;
  }
}

.publish-btn {
  width: 3rem;
  height: 3rem;
  padding: 5px;
  margin: 5px;
  border-radius: 16px;
  cursor: pointer;
}

.publish-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bloc-Image {
  display: flex;
  flex-direction: column;
  color: $secondary;

  @include mobile {
    flex-direction: row;
  }
}

.post-Image {
  font-size: 18px;
  @include mobile {
    font-size: 14px;
  }
}

.imgBTN {
  margin-left: 4rem;
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 1rem;
  color: $primary;
  cursor: pointer;
  @include tablet {
    margin-left: 2rem;
  }
  @include mobile {
    margin-left: 1rem;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 1rem;
  }
}

.blocImgActions {
  @include fdr-jcsa;
  height: 12rem;
  width: 22rem;
  flex-wrap: nowrap;
  @include border-radius-15;
  @include tablet {
    width: 40%;
    flex-direction: column;
  }
  @include mobile {
    height: 4rem;
    width: auto;
    flex-direction: row;
    width: 95%;
  }
}

.futurImg {
  width: 10rem;
  height: 7rem;
  @include border-radius-15;
  box-sizing: border-box;
  background-color: $secondaryOpacity;
  box-shadow: 0px 0px 7px 2px $secondary;
  border: dotted 2px $secondary;
  @include mobile {
    width: 6rem;
    height: 4rem;
  }
}

.actionsPostsEdit {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 4rem;
  padding-top: 7rem;
  @include tablet {
    padding-top: 0;
    width: 75%;
  }
  @include mobile {
    padding-top: 0;
    width: 4rem;
    height: 3rem;
    justify-content: flex-start;
    flex-direction: row;
    width: 36%;
  }
}
