.home-backgroundImg {
  background: url(../../Common/img/imageHome.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 6rem;
  @include mobile {
    width: 100%;
    padding-top: 2rem;
  }
}

.homeConnection {
  @include fdr-jcc;
  margin-bottom: 1rem;
  width: 100%;
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}