.posts-backgroundImg {
  background: url(../../Common/img/imagePosts.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
}

.Pseudo {
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
  height: 3rem;
  background-color: $secondary;
  border-radius: 20px 0 20px 0;
  width: 35%;
  font-size: 23px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 35%;
  border-bottom: dotted $tertiary;
  border-left: dotted $tertiary;
  border-right: dotted $tertiary;
}

.welcomeImg{
  height: 3rem;
  width: 4rem;
  border: dotted 2px $primary;
  border-radius: 15px 0 15px 0;
}
.cardsDesign {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 87%;
  padding-top: 2rem;
}



.leftNavbar-Column {
  width: 11%;
}

.postsEdit-Column{
  width: 30%;
}

.postNews-Column{
 width: 50%;
}
