#login {
  display: flex;
  font-size: 25px;
  justify-content: center;
  color: $secondary;
  padding: 5px;
  cursor: pointer;
  @include border-radius-15;
  background-color: $primaryOpacity;
  margin: 10px;
  width: 12rem;
  border: dotted 2px $secondary;
}

#login:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: $primary;
  font-weight: bolder;
  background-color: $secondaryOpacity;
  border: dotted 2px $primary;
}

.login-form-container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  @include border-radius-30;
  background-color: $secondaryOpacity;
  box-shadow: 1px 6px 20px 7px $tertiary;
  width: 30rem;
  margin-left: 30%;
  border: dotted 2px $primary;
  
  @include mobile {
    width: 80%;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
  }
}

.title-form-login {
  font-size: 25px;
}

.form-login {
  color: $tertiary;
  font-weight: bold;
  font-size: 17px;
}

.button-login {
  margin-top: 10px;
  color: $primary;
  width: 9rem;
  height: 2rem;
  font-size: 17px;
  background-color: #4e51668a;
  font-weight: 900;
  @include border-radius-9;
  border: dotted 4px $primary;
  cursor: pointer;
}

.button-login:hover {
  color: $tertiary;
  background-color: #fd2d017d;
  transform: scale(1.05);
  border: dotted $tertiary;
  cursor: pointer;
}

.form-cards-login {
  width: 25rem;
  height: 30px;
  @include border-radius-9;
  @include mobile {
    width: 18rem;
    height: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

#errorMsgLogIn {
  color: $primary;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}
