#signup{
  display: flex;
  font-size: 25px;
  justify-content: center;
  color: $secondary;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px 0 20px 0;
  background-color: $tertiary;
  margin: 10px;
  width: 12rem;
  border: dotted 2px $secondary;
}

#signup:hover {
  cursor: pointer;
  transform: scale(1.10);
  color:$tertiary ;
  font-weight: bolder;
  background-color: $secondary;
  border: dotted 2px $tertiary;
}

.signup-form-container {
  text-align: center;
  border-radius: 50px 0 50px 0;
  background-color: $secondary;
  box-shadow: 1px 6px 20px 7px $tertiary;
  width:30rem;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 34%;
  border: dotted $tertiary;
}

.title-form-signup {
  color:$tertiary;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-signup {
  color: $tertiary;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.button-signup {
  color: $tertiary;
  width: 9rem;
  height: 2rem;
  font-size: 17px;
  background-color: #fd2d017d;
  font-weight: 900;
  border-radius: 9px 0 9px 0;
  margin-top: 15px;
  border: dotted 4px $tertiary;
  cursor: pointer;
}

.button-signup:hover {
  color: $primary;
  background-color: #4e51668a;
  transform: scale(1.05);
  border: dotted $primary;
  cursor: pointer;
}

.form-cards-signup {
  width: 25rem;
  height: 30px;
  margin-bottom: 13px;
  margin-top: 5px;
  border-radius:  9px 0 9px 0;
}

.terms-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#terms {
  width: 2rem;
}

#terms-conditions {
  width: 14rem;
  color: black;
  border-radius: 5px;
  padding: 3px;
}

#errorMsgSignUp{
  color: $primary;
}

#success{
  text-align: center;
  color: $secondary;
  font-size: 25px;
  margin-top: 6rem;
  background-color: $primary;
  width: 35rem;
  text-align: center;
  margin-left: 30rem;
  border-radius: 7px 0 7px 0;
}