#signup {
  display: flex;
  font-size: 25px;
  justify-content: center;
  color: $secondary;
  padding: 5px;
  cursor: pointer;
  @include border-radius-15;
  background-color: $tertiaryOpacity;
  margin: 10px;
  width: 12rem;
  border: dotted 2px $secondary;
}

#signup:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: $tertiary;
  font-weight: bolder;
  background-color: $secondaryOpacity;
  border: dotted 2px $tertiary;
}

.signup-form-container {
  text-align: center;
  @include border-radius-30;
  background-color: $secondaryOpacity;
  box-shadow: 1px 6px 20px 7px $tertiary;
  width: 35%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 33%;
  border: dotted $tertiary;
  @include tablet {
    margin-left: 25%;
    width: 45%;
  }
  @include mobile {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
  }
}

.title-form-signup {
  font-size: 25px;
  font-weight: bold;
}

.button-signup:hover {
  color: $primary;
  background-color: #4e51668a;
  transform: scale(1.05);
  border: dotted $primary;
  cursor: pointer;
}

.form-cards-signup {
  width: 85%;
  height: 30px;
  margin-bottom: 13px;
  margin-top: 5px;
  @include border-radius-9;
  @include mobile {
    width: 18rem;
    height: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  @include tablet {
    margin: 0;
  }
}

.terms-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#terms {
  width: 2rem;
}

.terms-conditions {
  width: 14rem;
  color: black;
  border-radius: 5px;
  padding: 3px;
}

#errorMsgSignUp {
  color: $primary;
}

.success {
  text-align: center;
  color: $secondary;
  font-size: 25px;
  margin-top: 6rem;
  background-color: $successColor;
  width: 50%;
  text-align: center;
  margin-left: 27%;
  border-radius: 7px 0 7px 0;
}
