.profile {
  @include fdr-fwnw-aifs-jcsa;
  width: 95%;
  @include tablet {
    align-items: flex-start;
  }
  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.profileNews-Profile {
  width: 15rem;
}

.profileEmail {
  background-color: $textAreaColor;
  width: 14rem;
  text-align: center;
  border-radius: 18px 0 18px 0;
  border: dotted 2px $tertiary;
  @include mobile {
    width: 18rem;
    font-size: 17px;
  }
}

.emailProfile {
  color: $tertiary;
  font-size: 1.5rem;
}

.cardAvatar {
  text-align: center;
  @include border-radius-30;
  background-color: $secondaryOpacity;
  box-shadow: 1px 6px 20px 7px $tertiary;
  border: dotted 2px $tertiary;
  height: 25rem;
  padding: 1rem;
  width: 35%;
  @include tablet {
    width: 40%;
  }
  @include mobile {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    height: 12rem;
    padding: 0.5rem;
    box-shadow: 1px 6px 20px 0px $tertiary;
  }
}

.welcomeProfile {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  @include tablet {
    font-size: 17px;
  }
  @include mobile {
    font-size: 15px;
    width: 40%;
  }
}

.avatarName {
  color: $primary;
  width: 8rem;
}

.profileDate,
.profileTime {
  @include fwnw-fdrr;
  font-size: 14px;
  font-weight: bold;
  color: grey;
  margin-top: 1rem;
}

.mySideAvatar {
  @include fdc-aic-jcse;
}

.avatar {
  font-size: 20px;
  color: $tertiary;
  font-weight: bold;
  padding-bottom: 1rem;
}

.avatarFile {
  display: flex;
}

.avatarImg {
  width: 14rem;
  height: 14rem;
  border-radius: 9rem;
  box-sizing: border-box;
  background-color: $tertiaryOpacity;
  box-shadow: 0px 0px 7px 2px #ffd7d7;
  border: dotted 2px #ffd7d7;
  @include tablet {
    width: 12rem;
    height: 12rem;
  }
  @include mobile {
    width: 7rem;
    height: 7rem;
  }
}

.biographyCards {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  @include border-radius-30;
  background-color: $textAreaColor;
  box-shadow: 1px 6px 20px 7px $tertiary;
  border: dotted 2px $tertiary;
  height: 25rem;
  width: 25%;
  padding: 1rem;
  @include tablet {
    width: 40%;
  }
  @include mobile {
    width: 90%;
    height: 20%;
    padding: 0.5rem;
    box-shadow: 1px 6px 20px 0px $tertiary;
  }
}

.talkingToYou {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 1rem;
  color: $secondary;
  background-color: #4e5166cf;
  @include border-radius-15;
  padding: 5px;
  align-items: center;
  width: 17.5rem;
  border: dotted 2px $secondary;
  @include mobile {
    width: 11.5rem;
    font-size: 17px;
    margin-bottom: 0.5rem;
  }
  @include tablet {
    width: 15.5rem;
  }
}

.myBiography {
  background-color: $secondaryOpacity;
  font-size: 25px;
  font-weight: 600;
  @include border-radius-15;
  width: 17.5rem;
  height: 20rem;
  border: dotted 2px $tertiary;
  margin-bottom: 2rem;
  @include mobile {
    width: 17.5rem;
    height: 4rem;
    font-size: 15px;
    margin-bottom: 0.5rem;
  }
  @include tablet {
    width: 15.5rem;
    font-size: 20px;
  }
}

@include mobile {
  .myEmail {
    font-size: 15px;
  }

  .actionModifyPosted {
    border-radius: 2rem;
    width: 3rem;
    padding: 2px;
  }

  .actionDeletePosted {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
  }
}
