// First Column
.profile{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-around;
  padding-top: 2.5rem;
}

.profileNews-Profile{
  width: 15rem;
}

.profileEmail{
  background-color: $textAreaColor;
  width: 14rem;
  text-align: center;
  padding: 13px;
  border-radius: 18px 0 18px 0;
  box-shadow: 1px 6px 20px 7px $tertiary;
  border: dotted $tertiary;
}

.emailProfile{
  color: $tertiary;
  font-size: 1.5rem;
}

// Second Column
.cardAvatar {
  text-align: center;
  border-radius: 30px 0 30px 0;
  background-color: $secondaryOpacity;
  box-shadow: 1px 6px 20px 7px $tertiary;
  border: dotted 2px $tertiary;
  height: 25rem;
  padding: 1rem;
  width: 25rem;
}

.welcomeProfile {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

#avatarName {
  color: $primary;
  width: 8rem;
}

.profileDate,
.profileTime {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  font-size: 14px;
  font-weight: bold;
  color: grey;
  margin-top: 1rem;
}

.mySideAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#avatar {
  font-size: 20px;
  color: $tertiary;
  font-weight: bold;
  padding-bottom: 1rem;
}

#avatarFile {
  display: flex;
}

#avatarImg {
  width: 14rem;
  height: 14rem;
  border-radius: 9rem;
  box-sizing: border-box;
  background-color: $tertiaryOpacity;
  box-shadow: 0px 0px 7px 2px #ffd7d7;
  border: dotted 2px #ffd7d7;
}

//Third Column

.biographyCards{
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 30px 0 30px 0;
  background-color: $textAreaColor;
  box-shadow: 1px 6px 20px 7px $tertiary;
  border: dotted 2px $tertiary;
  height: 25rem;
  width: 20rem;
  padding: 1rem;
}

#talkingToYou{
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 1rem;
  color: $secondary;
  background-color: #4e5166cf;
  border-radius: 15px 0 15px 0;
  padding: 5px;
  align-items: center;
  width: 17.5rem;
  border: dotted 2px $secondary;
}

#myBiography{
  background-color: $secondaryOpacity;
  border-radius: 15px 0 15px 0;
  width: 17.5rem;
  height: 20rem;
  border: dotted 2px $tertiary;
}